@model  Final_Project.Models.RoomAllocation

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="form-w3layouts">
    <div class="row">
        <div class="col-lg-12">
            <section class="panel">
                <header class="panel-heading">
                    View Class Schedule and Room Allocation Information
                </header>
                <div class="panel-body">
                    <div class="position-center">

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-group">
                                @Html.LabelFor(model => model.DepartmentId, "Department")
                                <select name="DepartmentId" id="DepartmentId" class="form-control">
                                    <option value=0>--Select Department--</option>
                                    @foreach (var department in ViewBag.departments)
                                    {
                                        <option value="@department.DepartmentId">@department.DepartmentName</option>
                                    }

                                </select>
                                <label id="DeptErrorLabel" style="color: red;"></label>                 
                            </div>
        
                            <label id="messageLabel" style="color: sienna; font-weight: normal; font-size: 20px;"></label>
       
                            <div id="UpdatePanel">
 
                            </div>
                        }



                    </div>

                </div>

            </section>

        </div>
    

    </div>

</div>
@section scripts
{
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
   
    <script>
    $(document).ready(function() {
       
        $("#DepartmentId").change(function() {
            var deptId = $("#DepartmentId").val();
            $("#messageLabel").text("");
            var jsnFormatData = { deptId: deptId };

            $.ajax({
                type: "POST",
                url: '@Url.Action("GetClassScheduleInfo", "RoomAllocation")',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(jsnFormatData),
                dataType: "json",
                success: function (dataa) {
                    var tab = $('<table id="CourseTable" class="table">');
                    var thead = $('<thead style="line-height: 30px; color: #ffffff; font-weight: normal; font-size: 16px;"></thead>');
                    thead.append('<th style="text-align: center; border-right: 1px solid #ffffff;">Course Code</th>');
                    thead.append('<th style="text-align: center; border-right: 1px solid #ffffff;">Name</th>');
                    thead.append('<th style="text-align: center; border-right: 1px solid #ffffff;">Schedule Info</th>');

                    thead.css('background-color', ' blue');
                    tab.append(thead);

                    var tablerow = false;
                    $("#UpdatePanel").show();
                    $.each(dataa, function (key2, value2) {
                        var trow = $('<tr></tr>');
                        var gread = value2.GradeName;
                        if (gread == null) gread = 'Not Graded Yet';
                        trow.append('<td style="text-align: center; border-right: 1px solid #ffffff;">' + value2.CourseCode + '</td>');
                        trow.append('<td style="text-align: center; border-right: 1px solid #ffffff;">' + value2.CourseName + '</td>');
                        trow.append('<td style="text-align: center; border-right: 1px solid #ffffff;">' + value2.Schedule + '</td>');
                        tab.append(trow);
                        tablerow = true;
                    });

                    $("tr:odd", tab).css('background-color', '#F5F5F5');
                    $("tr:even", tab).css('background-color', '#EEEEEE');
                    $("#UpdatePanel").html(tab);
                    if (tablerow === false) {
                        $("#UpdatePanel").hide();
                        if(deptId !== 0)
                        $("#messageLabel").text("No Courses are Available in this Department.");
                    }

                }
            });
            return false;
        });
    });
</script>
}
